<div class="heroo section_{{ section.id }}">
    <div class="col-right sddddd">
     <img src="{{ section.settings.image_with_text_image| img_url : 'master' }}">
    </div>
</div>


<style>
.sddddd img {
    width: 100%;
}
.shopify-section.new_sectionn {
    padding-top: 120px;
}
</style>



<script>


function appendSecondSection() {
    $.ajax({
        url: '/#shopify-section-template--16017453482162__new_section_kCRUhF', // Replace '/your-second-section-url' with the actual URL of your second section
        method: "GET",
        dataType: "html",
        success: function(data) {
            var secondSectionContent = $(data).find("#shopify-section-template--16017453482162__new_section_kCRUhF").html();
            $('#shopify-section-template--16017453482162__6188c4f5-16ae-4f53-af9b-ebc96e58035c').append(secondSectionContent);
        },
        error: function() {
            console.log('Please try again');
        }
    });
}

$(window).load(function() {
    appendSecondSection();
});


</script>


{% schema %}
{
  "name": "New Section",
  "class" : "new_sectionn",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_with_text_image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "New Section",
      "category": "Video"
    }
  ]
}
{% endschema %}