<div class="heroo section_{{ section.id }}">
    <div class="col-right sddddd">
     <img src="{{ section.settings.image_with_text_image| img_url : 'master' }}">
    </div>
</div>


<style>
.sddddd img {
    width: 100%;
}
.shopify-section.new_sectionn {
    padding-top: 120px;
}
</style>


{% schema %}
{
  "name": "New Section",
  "class" : "new_sectionn",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_with_text_image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "New Section",
      "category": "Video"
    }
  ]
}
{% endschema %}