<div class="globo-formbuilder" data-id="OTg0MzM="></div>
<div style="margin:0 auto;" class="pxFormGenerator" id="0VWCIEoRe4QXQdcjMvOlaA"></div>

{% schema %}
{
  "name": "Testing",
  "class": "sectionss",
  "limit": 1,
  "settings":[],
  "presets": [
    {
      "name": "Testing",
      "blocks": []
    }
  ]
}

{% endschema %}
